\documentclass[10pt]{article}

%\usepackage{times}
\usepackage{fancyhdr}

\pagestyle{fancy}
\fancyhf{}
\rhead{\textbf{Kód: __TITLE__}}

\begin{document}

\subsection*{Zdroj:}

__BODY-SRC__

\pagebreak

\subsection*{Překlad:}

__BODY-TRG__

\end{document}
